
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;  
}
.container {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h1 {
  font-weight: 100;
}
.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  margin: 0;
  width: 450px;
  height: 500px;
  min-height: 500px;
  border: 1px solid #eee;
  -webkit-box-shadow: 0px 3px 30px 3px rgba(207, 205, 207, 0.76);
  -moz-box-shadow: 0px 3px 30px 3px rgba(207, 205, 207, 0.76);
  box-shadow: 0px 3px 30px 3px rgba(207, 205, 207, 0.76);
}

input[type=text] {
  width: auto;
}

.field {
  display: flex;
  flex-direction: row;
}


textarea {
  resize: none;
  border: 1px solid #eee;
  border-radius: 25px;
  -webkit-transition: border-color 0.8s;
  transition: border-color 0.8s;
  padding: 10px;
}

textarea:focus {
  outline: none;
  border-color: #36afff;
}

@media screen and (max-width:430px) {
  .card {
    width: 330px;
  }
}
@media screen and (max-width:430px) and (max-height:460px) {
  .card {
    position: absolute;
    margin-top: 100px;
    margin-bottom: 30px;
  }
}